</div>
<!-- /.content-wrapper -->
<footer class="main-footer">
    <strong>&copy; 2021 <a href="javascript:void(0)">Alexander Mikhaylov, Mattis Benjamin Riehl</a>.</strong>
    Alle Rechte vorbehalten.
</footer>

<!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->

<%- include('./inc/script') %>
</body>

</html>